{% extends "layouts/base.html" %}

{% block title %} Book List {% endblock title %}

{% block content %}
    {% comment %} <h2>Search Results</h2>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <strong>Title:</strong> {{ book.title }} <br>
                    <strong>Author:</strong> {{ book.author }} <br><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found</p>
    {% endif %} {% endcomment %}

    <h2>Books list</h2>
    
    {% for obj in books %}
        
        <b>ID:</b> {{obj.id}}, <b>Title:</b> {{obj.title}}, <b>Price:</b> ${{obj.price}}
        <hr>

    {% endfor %}
    
{% endblock content %}
