{% extends "layouts/base.html" %}

{% block title %} lab9_part1_listbooks {% endblock title %}

{% block content %}

<h1>Books</h1>
<a href="{% url 'lab9_part1_addbook' %}">Add Book</a>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edition</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.edition }}</td>
        <td>
            <a href="{% url 'lab9_part1_editbook' book.id %}">Edit</a>
            <a href="{% url 'lab9_part1_deletebook' book.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
